.anim_sel_click {
    #delete_btn, #cancel_opr {
        display: flex !important;
    }

    #options_btn {
        transform: translateX(20px);
    }
}

.anim_opt_click {
    display: initial !important;
}

.animate_opt_cont_modal {
    top: 45% !important;
    opacity: 1 !important;
}

.grow_font {
    font-size: 19.2px !important;
}


.animate_input {
    .input {
        border: 2px solid $googBlue !important;
    }
    .fake_placeholder {
        top: -2% !important;
        left: 3% !important;
        background: $darkTheme !important;
        padding: 0 5px !important;
        color: $googBlue !important;
        font-weight: 500;
        font-size: 13px !important;
    }
}

.input_filled {
    .input {
        border: 2px solid $inputBorder !important;
    }
    .fake_placeholder {
        color: $inputBorder !important;
    }
}

.input_focused {
    .input {
        border: 2px solid $googBlue !important;
    }
    .fake_placeholder {
        color: $googBlue !important;
    }
}

.modal_disp {
    display: flex !important;
}

.animate_modal {
    opacity: 1 !important;
    bottom: 23% !important;
}

.error_alert {
    .input {
        border: 2px solid red !important;
        animation: eli 1s linear infinite !important;
    }
    .fake_placeholder {
        color: red !important;
        animation: elf 1s linear infinite !important;
    }
}

@keyframes elf {
    from {
        color: $inputBorder !important;
    } to {
        color: red !important;
    }
}

@keyframes eli {
    from {
        border: 2px solid $inputBorder !important;
    } to {
        border: 2px solid red !important;
    }
}

.animate_add_btn {
    transform: rotate(45deg);
}

.anim_sel_click {
    .contact {
        transform: translateX(35px);
    }
}

.grow_box {
    opacity: 1 !important;
    font-size: 26px !important;
}

.makePicBg {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
}

.btn_disabled {
    opacity: 0.5 !important;
}

.appear {
    opacity: 1 !important;
}

.selectedForDeletion {
    &::before {
        position: absolute;
        content: '\f14a';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primCol;
        font-size: 27px;
    }
}