* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html, body {
    width: 100vw;
    height: 100vh;
    @include flex(center, center);
}

.contact:hover {
    background: $hoverbgcontact;
    cursor: pointer;
}

.check_box, .add_new_contact_btn, .save_btn, .select, .back_button, .edit_button, #contactPic, #ok_btn {
    cursor: pointer;
}