$primCol: #1a73e8;
$fakePicCol: #fff;
$blackText: #000;
$addCol: #006eff;
$searchPlaceholder: rgba(#707070, (52 / 100));
$hoverbgcontact: rgba($blackText, (2 / 100));
$hoverbgoptions: rgba($blackText, (6 / 100));
$fontWeights: (
    normal: 400,
    light: 300,
    exlight: 200,
    medium: 500,
    bold: 700
);