@import 'variables';
@import 'mixins&functions';
@import 'defaults';
@import 'contacts';
@import 'newContactModal';
@import 'contactDetails';
@import 'addedClassesFromJS';


.container {
    width: 600px;
    height: 90%;
    padding: 0 15px;
    position: relative;



    .add_new_contact_btn {
        position: absolute;
        @include flex(center, center);
        color: #fff;
        bottom: 9%;
        right: 9%;
        width: 50px;
        height: 50px;
        transition:  transform .5s ease;
        background: $addCol;
        border-radius: 50%;
        box-shadow: 0 3px 10px rgba(#000, (22 / 100));
        font: {
            size: 40px;
            weight: weight(light);
        }
    }

    .error_alert_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        border-radius: 10px;
        z-index: 10;
        box-shadow: 0 0 100px rgba(#000, 0.1);
        @include flex(space-between, null, column);
        display: none;
        opacity: 0;
    
        .sign_msg_div {
            @include flex(center, center, column);
            .error_sign {
                font-size: 130px;
                animation: blink .2s linear infinite;
            }
            .error_message {
                transform: translateY(-20px);
                font-weight: weight(medium);
                color: red;
            }
        }
    
        .sugg_btn_div {
            @include flex(null, null, column);
            width: 100%;
            border-top: 2px solid $hoverbgoptions;
            padding: 3px 10px 7px 10px;
    
            .suggestion {
                font-size: 12px;
                color: rgb(167, 167, 167);
                margin-bottom: 5px;
                // max-width: 240px;
                span {
                    color: $primCol;
                    font-weight: weight(medium);
                }
            }
    
            button {
                width: 35px;
                background: $primCol;
                border: none;
                outline: none;
                color: #fff;
                border-radius: 3px;
                width: 100%;
                height: 30px;
                font-size: 17px;
                font-weight: weight(medium);
    
                &:hover {
                    background: lighten($primCol, 10);
                }
            }
        }
    }
}

.search_bar {
    position: relative;
    margin-bottom: 20px;
    input {
        @include shadow(search_bar);
        background: $lightDark;
        width: 100%;
        height: 50px;
        border-radius: 12px;
        border: none;
        outline: none;
        font: {
            size: 20px;
            weight: weight(normal);
        }
        padding-left: 30px;
        padding-right: 100px;
        color: $searchPlaceholder;
        &::-webkit-input-placeholder {
            color: $searchPlaceholder;
        }

    }
    .sbbtns {
        position: absolute;
        font-size: larger;
        border-radius: 12px;
        width: 100px;
        height: 100%;
        background: $lightDark;
        @include flex(center, center);
        transition: background .2s ease;
        left: 100%;
        top: 50%;
        transform: translate(-100%, -50%);
        i {
            position: absolute;
            @include flex(center,center);
            color: $searchPlaceholder;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            cursor: pointer;
            margin: 0 2px;
            transition: all .2s ease;
            &:hover {
                background: rgba($searchPlaceholder, 0.2);
            }
        }

        #delete_btn {
            display: none;
            transform: translateX(-20px);
            font-size: 0;
        }
    }

    .options_cont {
        position: absolute;
        z-index: 5;
        width: 100px;
        height: 70px;
        background: $lightDark;
        box-shadow: 0 0 20px rgba(#000, 0.1);
        border-radius: 5px;
        top: 65%;
        opacity: 0;
        display: none;
        left: 72%;
        transition: top .5s ease,
                    opacity .5s ease;
        
        .select {
            @include flex(null, center);
            padding-left: 10px;
            width: 100%;
            height: 50%;
            color: #fff;
            transition: background .2s ease;

            &:hover {
                background: rgba($searchPlaceholder, 0.1);
            }
        }

        #select_pick {
            border-bottom: 1px solid $hoverbgcontact;
            border-radius: 5px 5px 0 0;
        }
        #select_all {
            border-top: 1px solid $hoverbgcontact;
            border-radius: 0 0 5px 5px;
        }
    }
}



@keyframes blink {
    from {
        color: red;
    }
    to {
        color: lighten(red, 50);
    }
}